{% set order = hookable_metadata.context.order %}
{% set customer = order.customer %}

{% if customer is not null and not customer.subscribedToNewsletter %}
<div class="card bg-light border-0 my-4 p-4 text-center" {{ sylius_test_html_attribute('newsletter-subscription') }}>
    <div class="card-body">
        <h3 class="card-title h4 mb-3">{{ 'sylius_mailerlite.ui.stay_in_touch'|trans }}</h3>
        <p class="card-text text-muted mb-4">{{ 'sylius_mailerlite.ui.newsletter_benefits'|trans }}</p>
        <form action="{{ path('sylius_mailerlite_subscribe', {'orderToken': order.tokenValue}) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('newsletter_subscribe') }}">
            <button type="submit" class="btn btn-primary btn-lg px-5">
                {{ 'sylius_mailerlite.ui.subscribe_to_newsletter'|trans }}
            </button>
        </form>
    </div>
</div>
{% endif %}
